{% extends "dashboard.html" %}
{% block content %}
<div>
  <span class="text-slate-300 flex justify-center py-5">Date Filters Here</span>
</div>
<div class="flex flex-row justify-between gap-x-5">
  <div class="w-2/3">
    <div class="w-full flex justify-end pb-3">
      <button type="button" class="py-2 pl-2 pr-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-md border border-transparent bg-teal-600 text-white hover:bg-teal-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
        <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
        Add Budget
      </button>
    </div>
    <div class="flex flex-col gap-y-3">
      {% for budget in budgets %}
      <div class="flex flex-col p-4 border-2 rounded-xl dark:bg-slate-950 dark:border-slate-800">
        <div class="flex flex-row justify-between">
          <a class="mb-6 font-medium dark:text-slate-300 hover:underline hover:underline-offset-4 dark:hover:underline-offset-4 dark:hover:text-teal-600 dark:active:text-teal-700" href="#">{{ budget.category }}</a>
          <span class="mb dark:text-slate-300 text-lg">${{ budget.amount }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="dark:text-slate-400"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
        </div>
        <div class="flex w-full h-2.5 bg-gray-200 rounded-sm overflow-hidden dark:bg-slate-900" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="flex flex-col justify-center overflow-hidden bg-teal-600 text-xs text-white text-center whitespace-nowrap transition duration-500 dark:bg-teal-600" style="width: {{ budget.amount }}%"></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="w-1/5 pt-4 px-6 h-44 rounded-lg border-2 dark:border-slate-800 dark:bg-slate-950">
    <span class="text-slate-500 flex justify-start text-sm">Income</span>
    <span class="text-slate-300 flex justify-start text-2xl mb-2">$9,500</span>
    <span class="text-slate-500 flex justify-start text-sm">Budget</span>
    <span class="text-slate-300 flex justify-start text-2xl">$8,500</span>
  </div>
</div>
{% endblock %}
