{% extends "dashboard.html" %}
{% block content %}
<div class="flex flex-row justify-between gap-x-5">
  <div class="w-1/5 pt-4 px-6 h-44 flex flex-col gap-y-1">
    <span class="text-white">Move filters over here!</span>
  </div>
  <div class="w-4/5">
    <div class="w-full flex justify-between mb-4">
      <div class="sm:col-span-1">
        <label for="hs-as-table-product-review-search" class="sr-only">Search</label>
        <div class="relative">
          <input type="text" id="hs-as-table-product-review-search" name="hs-as-table-product-review-search" class="py-1 px-3 ps-11 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Search">
          <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4">
            <svg class="size-3 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="flex gap-x-2">
        <button type="button" title="Add transaction" class="px-1.5 inline-flex items-center text-xs font-semibold rounded-md border border-transparent bg-teal-600 text-teal-100 hover:bg-teal-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
        </button>
        <button type="button" class="py-1 ps-2 pe-3 inline-flex items-center gap-x-1 text-xs font-semibold rounded-md ring-1 ring-slate-800 dark:text-slate-400 hover:bg-slate-900/20 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-4"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/></svg>
          Filter
        </button>
        <button type="button" class="py-1 ps-2 pe-3 inline-flex items-center gap-x-1 text-xs font-semibold rounded-md ring-1 ring-slate-800 dark:text-slate-400 hover:bg-slate-900/20 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" 
            width="20" 
            height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            class="flex-shrink-0 size-4">
              <path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/>
          </svg>
          Sort
        </button>
      </div>
    </div>
    <div class="-m-1.5 overflow-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <div class="table border-collapse w-full">
            <div class="table-header-group">
              <div class="table-row dark:bg-slate-900">
                <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase rounded-s-lg">Date</div>
                <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase">Description</div>
                <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase">Amount</div>
                <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase">Category</div>
                <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase">Account</div>
                <div class="table-cell px-6 py-3 text-end text-xs font-semibold text-slate-500 uppercase rounded-e-lg"></div>
              </div>
            </div>
            <div class="table-row-group divide-y divide-slate-200 dark:divide-slate-900 dark:border-b-2 dark:border-b-slate-900">
              {% for transaction in transactions %}
              <div class="table-row dark:hover:bg-slate-900/20 dark:active:bg-slate-800/20">
                <div class="table-cell px-6 py-3 whitespace-nowrap text-sm font-medium text-slate-800 dark:text-slate-300">
                  {{ transaction.date.date() }}
                </div>
                <div class="table-cell px-6 py-3 whitespace-nowrap text-sm text-slate-800 dark:text-slate-300">
                  {{ transaction.description }}
                </div>
                <div class="table-cell px-6 py-3 whitespace-nowrap text-sm text-slate-800 dark:text-teal-300">
                  {{ transaction.amount }}
                </div>
                <div class="table-cell px-6 py-3 whitespace-nowrap text-sm text-slate-800 dark:text-slate-300">
                  {{ transaction.category }}
                </div>
                <div class="table-cell px-6 py-3 whitespace-nowrap text-sm text-slate-800 dark:text-slate-300">
                  {{ transaction.account }}
                </div>
                <div class="table-cell px-6 py-3 whitespace-nowrap text-sm text-slate-800 dark:text-slate-300"></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <nav class="flex justify-center gap-x-1 mt-6">
      <button type="button" class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10">
        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m15 18-6-6 6-6"></path>
        </svg>
        <span aria-hidden="true" class="sr-only">Previous</span>
      </button>
      <div class="flex items-center gap-x-1">
        <span class="min-h-[38px] min-w-[38px] flex justify-center items-center border border-gray-200 text-gray-800 py-2 px-3 text-sm rounded-lg focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:border-gray-700 dark:text-white dark:focus:bg-white/10">1</span>
        <span class="min-h-[38px] flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-gray-500">of</span>
        <span class="min-h-[38px] flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-gray-500">3</span>
      </div>
      <button type="button" class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10">
        <span aria-hidden="true" class="sr-only">Next</span>
        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </button>
    </nav>
    <!-- End Pagination -->
  </div>
</div>
{% endblock %}

