<div hx-get="/budgets/{{ budget.id }}/edit" hx-swap="none" id="bud_{{ budget.id }}" class="group flex flex-row w-full rounded-lg border border-slate-900 min-h-16 p-2 bg-slate-900/25 hover:bg-slate-900/50 hover:border-slate-800 active:bg-slate-900/75 active:border-slate-700">
  <div class="flex flex-col justify-between w-full">
    <div class="flex flex-row justify-between w-full">
      <div>
        <span class="text-sm font-normal text-slate-200">{{ budget.category_name }}</span>
      </div>
      <div class="">
        <span class="text-xl font-semibold text-slate-200">
          <span class="font-normal text-sm text-teal-700 me-0.5">$</span>{{ "{:,}".format(budget.amount) }}
        </span>
      </div>
    </div>
    <div class="flex w-full h-1.5 bg-gray-200 rounded overflow-hidden dark:bg-slate-900"
        title="${{ budget.spent }}"
        role="progressbar" 
        aria-valuenow="25" 
        aria-valuemin="0"
        aria-valuemax="100">
      <div class="flex flex-col justify-center overflow-hidden bg-teal-600 text-xs text-white text-center whitespace-nowrap transition duration-500" style="width: {{ ((budget.transactions_total|abs / budget.amount) * 100)|round|int }}%"></div>
    </div>
    <div class="flex hidden flex-row w-2/3">
      <div class="flex w-full flex-col items-center justify-center">
        <span class="text-xl font-bold text-slate-200">
          <span class="font-normal text-lg text-teal-700 me-0.5">$</span>{{ "{:,}".format(50) }}
        </span>
      </div>
      <div class="flex w-full justify-center items-center">
        <div class="relative size-20">
          <svg class="size-full" width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
            <!-- Background Circle -->
            <circle cx="18" cy="18" r="16" fill="none" class="stroke-current text-gray-200 dark:text-slate-800" stroke-width="2"></circle>
            <!-- Progress Circle inside a group with rotation -->
            <g class="origin-center -rotate-90 transform" stroke-linecap="rounded">
              <circle cx="18" cy="18" r="16" fill="none" stroke-linecap="round" class="stroke-current text-teal-700" stroke-width="2" stroke-dasharray="100" stroke-dashoffset="24"></circle>
            </g>
          </svg>
          <!-- Percentage Text -->
          <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
            <span class="text-center text-xl font-semibold text-slate-200">72<span class="text-sm font-normal text-slate-400">%</span></span>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col items-center justify-center">
        <span class="text-xl font-bold text-slate-200">
          <span class="font-normal text-lg text-teal-700 me-0.5">$</span>{{ "{:,}".format(budget.amount) }}
        </span>
      </div>
    </div>
  </div>
</div>
