<div id="bud_{{ budget.id }}" class="dark:hover:bg-slate-900/20 dark:active:bg-slate-800/20">
  {{ budget.category }}
  <div class="flex w-full h-2 bg-gray-200 rounded-sm overflow-hidden dark:bg-slate-900"
      title="${{ budget.spent }}"
      role="progressbar" 
      aria-valuenow="25" 
      aria-valuemin="0"
      aria-valuemax="100">
    <div class="flex flex-col justify-center overflow-hidden bg-teal-600 text-xs text-white text-center whitespace-nowrap transition duration-500" style="width: {{ budget.percentage }}%"></div>
  </div>
</div>
