<div _="on closeModal remove me">
  <!-- modal underlay -->
  <div id="upload-file-modal-backdrop" 
    style="z-index: 79;" 
    class="transition duration fixed inset-0 bg-slate-950 bg-opacity-0 dark:bg-opacity-40 hs-overlay-backdrop"
    aria-hidden="false" 
    tabindex="-1"
    _="on click trigger closeModal">
  </div>
  <!-- end modal underlay -->

  <!-- transaction modal -->
  <div id="transaction-edit-modal"
    class="hs-overlay size-full open fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
    aria-hidden="false" 
    tabindex="-1">

    <form hx-put="/transactions/{{ transaction.id }}/edit" hx-target="#tran_{{ transaction.id }}" hx-swap="outerHTML">
      <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center justify-center">
        <div class="flex flex-col w-2/5 h-full py-4 px-4 bg-white border-4 shadow-lg rounded-xl pointer-events-auto dark:bg-slate-950 dark:border-slate-900 dark:shadow-slate-950">
          <div class="flex flex-row justify-between mb-4">
            <h3 class="text-xl font-semibold dark:text-teal-700">
              Edit transaction
            </h3>
            <button 
              type="button" 
              class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-slate-800 hover:bg-slate-100 disabled:opacity-50 disabled:pointer-events-none dark:text-slate-600 dark:hover:bg-slate-900"
              data-hs-overlay="#transaction-edit-modal"
              _="on click trigger closeModal">

              <span class="sr-only">Close</span>
              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18"></path>
                <path d="m6 6 12 12"></path>
              </svg>
            </button>
          </div>
          <div class="flex flex-row justify-start mb-3">
            <div class="flex flex-col w-1/4">
              <label for="transaction-date-edit" name="date" class="mb-1 text-sm text-slate-500">Date</label>
              <input id="transaction-date-edit" name="date" type="text" value="{{ transaction.date }}" class="rounded-md bg-slate-900/20 border border-slate-800 text-slate-400 focus:ring-teal-700 focus:border-teal-700"></input>
            </div>
          </div>
          <div class="flex flex-row gap-x-3 justify-between mb-3">
            <div class="flex flex-col w-2/3">
              <label for="description-edit" class="text-slate-500 mb-1 text-sm">Description</label>
              <input id="description-edit" name="description" type="text" value="{{ transaction.description }}" class="rounded-md bg-slate-900/20 border border-slate-800 text-slate-400" placeholder="description"></input>
            </div>
            <div class="w-1/3">
              <label for="new-budget-category" class="block mb-1 text-sm text-slate-500">Category</label>
              <div class="relative w-full bg-slate-900/20">
                <select id="new-budget-category" name="category" class="w-full bg-slate-900/20 border rounded-md text-slate-400 border-slate-800">
                  {% for category in categories %}
                  <option id="{{ category.id }}" value="{{ category.id }}" class="bg-slate-900/20">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="flex flex-row justify-between">
            <div class="flex flex-col w-1/5">
              <label for="transaction-amount-edit" name="amount" class="mb-1 text-sm text-slate-600">Amount</label>
              <input id="transaction-amount-edit" name="amount" type="text" value="{{ transaction.amount }}" class="rounded-md bg-slate-900/20 border border-slate-800 text-slate-400 focus:ring-teal-700 focus:border-teal-700"></input>
            </div>
          </div>
          <div class="flex justify-end mt-4">
            <button type="submit" class="text-sm text-slate-200 py-2 px-2.5 rounded-md bg-teal-700 hover:bg-teal-600">
              Update
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- end transaction modal -->
</div>
