{% set title = "Transactions" %}
{% extends "app.html" %}
{% block content %}
<!-- header -->
<div class="hidden min-h-20 max-h-20 text-white border-b border-slate-900">
  header
</div>
<!-- end header -->

<!-- Main content window -->
<div id="main-content" class="flex flex-col h-full bg-slate-900/15 overflow-y-auto">
  <div class="w-full flex flex-row justify-between items-center gap-x-2 border-b border-slate-800 px-3 py-2">
    <div>
      <button class="rounded-md border border-slate-700 py-1 px-2 bg-gray-900 text-xs font-semibold text-slate-300">Transactions</button>
      <button class="rounded-md border border-slate-800 py-1 px-2 text-xs font-semibold text-slate-500">Rules</button>
    </div>
    <button 
      hx-get="transactions/upload"
      hx-target="body"
      hx-swap="beforeend"
      type="button" 
      title="Upload transactions" 
      class="py-1 ps-1 pe-1.5 inline-flex items-center gap-x-1 text-xs font-semibold rounded
      ring-1 ring-slate-800 hover:ring-slate-700 dark:text-slate-600 hover:bg-slate-800/50 disabled:opacity-50 
      disabled:pointer-events-none dark:focus:outline-none">
      <svg fill="none" viewBox="0 0 24 24" class="size-3.5 fill-none stroke-2 stroke-slate-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
      </svg>
      <span class="dark:text-slate-400">Import</span>
    </button>
  </div>
  <div class="flex flex-row h-full overflow-y-auto">
    <div class="flex flex-col w-7/12">
      <div class="flex justify-between py-2 px-3 border-b border-slate-800">
        <select class="w-52 border border-slate-800 rounded bg-slate-900/20 placeholder-slate-600 py-0.5 px-2 text-xs text-slate-400">
          <option selected>All Accounts</option>
          <option>Category 1</option>
          <option>Category 2</option>
          <option>Category 3</option>
        </select>
        <button 
          type="button" 
          title="Filter transactions" 
          class="py-1 ps-1 pe-2 flex flex-row items-center gap-x-1 text-xs font-semibold rounded
          ring-1 ring-slate-800 dark:text-slate-600 hover:bg-slate-800/50 hover:ring-slate-700 disabled:opacity-50 
          disabled:pointer-events-none dark:focus:outline-none">
          <svg 
            viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" 
            class="size-3.5 stroke-2 stroke-slate-500 fill-none lucide lucide-list-filter"><path d="M3 6h18"/><path d="M7 12h10"/><path d="M10 18h4"/>
          </svg>
          <span class="dark:text-slate-400">Filter</span>
        </button>
      </div>
      <div class="w-full overflow-y-auto [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-track]:bg-slate-900 [&::-webkit-scrollbar-thumb]:bg-slate-800">
        <div class="table border-collapse w-full relative">
          <div class="table-header-group sticky top-0 shadow-md shadow-slate-950">
            <div class="table-row dark:bg-slate-900">
              <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase">Date</div>
              <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase">Description</div>
              <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase">Category</div>
              <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase"><span class="flex w-full justify-end">Amount</span></div>
              <div class="table-cell px-6 py-3 text-start text-xs font-semibold text-slate-500 uppercase"></div>
              <div class="table-cell px-6 py-3 text-end text-xs font-semibold text-slate-500 uppercase"></div>
            </div>
          </div>
          <div class="table-row-group divide-y divide-slate-200 dark:divide-slate-900/70 dark:border-b-2 dark:border-b-slate-900">
            {% for transaction in transactions %}
              {% include "transactions/list-item.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Transaction Detail -->
    <div class="flex flex-col w-1/2 min-h-full py-4 px-4 border-l border-slate-800">
      <div id="transaction-detail"></div>
    </div>
    <!-- End Transaction Detail -->

  </div>
</div>
<!-- end main content window -->
    
{% endblock %}

