<div hx-swap-oob="outerHTML:#main-content" id="main-content" class="flex flex-col h-full bg-slate-900/5 overflow-y-auto">
  <div class="w-full flex flex-row justify-between items-center gap-x-2 border-b border-slate-800 px-3 py-2">
    <!--<div id="budgets-tab-bar" class="flex flex-row rounded-lg border border-slate-800 bg-gray-950">-->
    <div id="accounts-tab-group" class="text-xs font-semibold text-slate-500">
      <script>
        htmx.on("#accounts-tab-group", "accountsTabChanged",
          function(evt) {
            for (const child of this.children) {
              if (child.tagName.toLowerCase() === "button") {
                if (child.id === evt.detail.tab_id) {
                  child.classList.remove("text-slate-500")
                  child.classList.remove("bg-gray-900")
                  child.classList.remove("border-slate-900")
                  child.classList.add("text-slate-300")
                  child.classList.add("bg-gray-900")
                  child.classList.add("border-slate-700")
                } else {
                  child.classList.remove("text-slate-300")
                  child.classList.remove("bg-gray-900")
                  child.classList.remove("border-slate-700")
                }
              }
            }
          }
        )
      </script>
      <button 
        id="accounts-tab" 
        hx-get="/accounts/accounts" 
        hx-push-url="/accounts"
        hx-swap="none"
        class="rounded-md border border-slate-700 py-1 px-2 bg-gray-900 text-xs font-semibold text-slate-300">
        Accounts
      </button>
      <button 
        id="assets-tab" 
        hx-get="/accounts/assets" 
        hx-push-url="/accounts/assets"
        hx-swap="none"
        class="rounded-md border border-slate-900 py-1 px-2 text-xs font-semibold text-slate-500">
        Assets
        </button>
    </div>
    <button 
      id="add-account-button"
      type="button" 
      title="Connect new account" 
      class="py-1 ps-2.5 pe-3 inline-flex items-center gap-x-1 text-xs font-semibold rounded
      text-slate-100 bg-teal-800 hover:bg-teal-700 active:bg-teal-800 hover:bg-slate-800/50 disabled:opacity-50 
      disabled:pointer-events-none dark:focus:outline-none">
      <svg viewBox="0 0 24 24" class="size-3 fill-none stroke-2 stroke-slate-100">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      Add account
    </button>
    <script>
      htmx.on("#add-account-button", "click",
        async function(evt) {
          fetch("/accounts/connect")
            .then(async function(response) {
              return response.json();
            }).then(async function(json) {
              const stripe = new Stripe("{{ stripe_pub_key }}");
              const sessionResult = await stripe.collectFinancialConnectionsAccounts({
                clientSecret: json["client_secret"]
              }).then(async function(result) {
                if (result.error) {
                  // Inform the customer that there was an error.
                  console.log(result.error.message);
                // Handle next step based on length of accounts array
                } else if (result.financialConnectionsSession.accounts.length === 0) {
                  console.log('No accounts were linked');
                } else {
                  //console.log(result.financialConnectionsSession.accounts)
                  event = new CustomEvent("accountsLinked")
                  e = document.getElementById("accounts-tab-list")
                  e.dispatchEvent(event)
                }
              });
            });
        }
      );
    </script>
  </div>
  {% include "accounts/accounts-tab.html" %}
</div>
