<nav class="sticky -top-px bg-white font-medium text-sm ring-1 ring-gray-900 ring-opacity-5 border-t pt-6 md:pb-6 -mt-px dark:bg-slate-950 dark:border-gray-800 dark:shadow-slate-700/[.7]" aria-label="Jump links">
  <div class="max-w-7xl snap-x w-full flex justify-center items-center overflow-x-auto px-4 sm:px-6 lg:px-8 pb-4 md:pb-0 mx-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-slate-700 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500 dark:bg-slate-950">
    <div class="flex flex-row gap-x-2 snap-center shrink-0 pe-5 sm:pe-8 sm:last-pe-0 dark:hover:bg-white">
      <a class="inline-flex items-center gap-x-2 hover:text-slate-400 dark:text-slate-300 dark:hover:text-slate-400" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" 
          height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="size-5"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
        Dashboard
      </a>
    </div>
    <div class="flex flex-row gap-x-2 snap-center shrink-0 pe-5 sm:pe-8 sm:last:pe-0">
      <a class="inline-flex items-center gap-x-2 hover:text-slate-500 dark:text-slate-300 dark:hover:text-slate-400 dark:focus:outline-none dark:focus:text-teal-600" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" 
          height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="lucide lucide-banknote"><rect width="20" height="12" x="2" y="6" rx="2"/><circle cx="12" cy="12" r="2"/><path d="M6 12h.01M18 12h.01"/></svg>
        Budgets
      </a>
    </div>
    <div class="flex flox-row gap-x-2 snap-center shrink-0 pe-5 sm:pe-8 sm:last:pe-0 dark:text-slate-300 dark:hover:text-slate-400 dark:focus:text-teal-600">
      <a class="inline-flex items-center gap-x-2 dark:focus:outline-none" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" 
          height="24" 
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="size-5 font-medium"><path d="M8 3 4 7l4 4"/><path d="M4 7h16"/><path d="m16 21 4-4-4-4"/><path d="M20 17H4"/>
        </svg>
        Transactions
      </a>
    </div>
    <div class="flex flex-row gap-x-2 snap-center shrink-0 pe-5 sm:pe-8 sm:last:pe-0">
      <a class="inline-flex items-center gap-x-2 font-normal hover:text-gray-500 dark:text-slate-300 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:text-gray-600" href="#">Accounts</a>
    </div>
    <div class="flex flex-row gap-x-2 snap-center shrink-0 pe-5 sm:pe-8 sm:last:pe-0">
      <a class="inline-flex items-center gap-x-2 hover:text-gray-500 dark:text-slate-300 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:text-gray-600" href="#">TBD</a>
    </div>
    <div class="flex flex-row gap-x-2 snap-center shrink-0 pe-5 sm:pe-8 sm:last:pe-0">
      <a class="inline-flex items-center gap-x-2 hover:text-gray-500 dark:text-slate-300 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:text-gray-600" href="#">
        Documentation
        <span class="inline bg-gray-100 text-xs text-gray-500 font-semibold rounded-full py-1 px-2 dark:bg-gray-700 dark:text-gray-400">v12.7</span>
      </a>
    </div>
  </div>
</nav>
