<nav class="sticky -top-px bg-white font-semibold text-sm ring-1 ring-gray-900 ring-opacity-5 border-b pt-6 md:pb-6 -mt-px dark:bg-slate-950/95 backdrop-blur-md dark:border-gray-900 dark:shadow-slate-700/[.7]" aria-label="Jump links">
  <div class="max-w-7xl snap-x w-full flex basis-full justify-between items-center overflow-x-auto px-4 py-0.5 mx-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-slate-700 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500">
    <div class="me-5 md:me-8">
      <a class="flex-none text-3xl font-black dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 " href="#" aria-label="Brand">
        <!--<span class="text-teal-500 font-semibold">Budget</span><span class="text-teal-700">4</span>-->
        <p class="text-teal-600 lowercase">jaxon</p>
      </a>
    </div>
    <div class="flex flex-row gap-x-1">
      <div class="flex snap-center shrink-0 p-2 rounded-lg dark:focus:ring-1 dark:hover:bg-slate-900 dark:active:bg-slate-800">
        <a class="inline-flex items-center gap-x-1 dark:text-slate-300" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" 
            width="24" 
            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            class="size-5 hidden"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
          Dashboard
        </a>
      </div>
      <div class="flex snap-center shrink-0 p-2 sm:last-pe-0 rounded-lg dark:hover:ring-1 dark:hover:ring-slate-800 dark:hover:bg-slate-900">
        <a class="inline-flex items-center gap-x-1 dark:text-slate-300" href="/budgets-v2">
          <svg xmlns="http://www.w3.org/2000/svg" 
            width="24" 
            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            class="hidden "><rect width="20" height="12" x="2" y="6" rx="2"/><circle cx="12" cy="12" r="2"/><path d="M6 12h.01M18 12h.01"/></svg>
          Budgets
        </a>
      </div>
      <div class="flex snap-center shrink-0 p-2 sm:last-pe-0 rounded-lg dark:hover:ring-1 dark:hover:ring-slate-800 dark:hover:bg-slate-900">
        <a class="inline-flex items-center gap-x-1 dark:text-slate-300 dark:focus:outline-none" href="/transactions">
          <svg xmlns="http://www.w3.org/2000/svg" 
            width="24" 
            height="24" 
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            class="hidden size-5 font-medium"><path d="M8 3 4 7l4 4"/><path d="M4 7h16"/><path d="m16 21 4-4-4-4"/><path d="M20 17H4"/>
          </svg>
          Transactions
        </a>
      </div>
      <div class="flex snap-center shrink-0 p-2 sm:last-pe-0 rounded-lg dark:hover:ring-1 dark:hover:ring-slate-800 dark:hover:bg-slate-900">
        <a class="inline-flex items-center gap-x-1 dark:text-slate-300" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" 
            width="20" 
            height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            class="hidden size-4"><path d="M4 9a2 2 0 0 1-2-2V5h6v2a2 2 0 0 1-2 2Z"/><path d="M3 5V3"/><path d="M7 5V3"/><path d="M19 15V6.5a3.5 3.5 0 0 0-7 0v11a3.5 3.5 0 0 1-7 0V9"/><path d="M17 21v-2"/><path d="M21 21v-2"/><path d="M22 19h-6v-2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2Z"/></svg>
          Accounts
        </a>
      </div>
      <div class="flex snap-center shrink-0 p-2 sm:last-pe-0 rounded-lg dark:hover:ring-1 dark:hover:ring-slate-800 dark:hover:bg-slate-900">
        <a class="inline-flex items-center gap-x-2 dark:text-slate-300" href="/categories">
          Settings
        </a>
      </div>
    </div>
      <div class="flex flex-row items-center justify-end gap-2">
        <div class="hs-dropdown relative inline-flex" data-hs-dropdown-placement="bottom-right">
          <button id="hs-dropdown-with-header" type="button" class="hs-dropdown-toggle w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full text-slate-500 hover:bg-slate-50 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-slate-900 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-slate-800">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
              class="lucide lucide-user stroke-slate-300">
                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
                <circle cx="12" cy="7" r="4"/>
            </svg>
          </button>

          <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 z-10 bg-white shadow-md rounded-lg p-2 dark:bg-slate-900 dark:border dark:border-slate-800" aria-labelledby="hs-dropdown-with-header">
            <div class="py-3 px-5 -m-2 bg-gray-100 border-b dark:border-slate-800 rounded-t-lg dark:bg-slate-900">
              <p class="text-sm text-gray-500 dark:text-slate-300">Signed in as</p>
              <p class="text-sm font-medium text-gray-800 dark:text-gray-400">traviscammack@protonmail.com</p>
            </div>
            <div class="mt-2 py-2 first:pt-0 last:pb-0">
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-slate-800/50 dark:hover:text-slate-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-slate-600" href="#">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"/><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"/></svg>
                Profile
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-slate-800/50 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z"/><path d="M3 6h18"/><path d="M16 10a4 4 0 0 1-8 0"/></svg>
                Settings
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-slate-800/50 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"/><path d="M12 12v9"/><path d="m8 17 4 4 4-4"/></svg>
                Support
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-slate-800/50 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                Changelog
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-slate-800/50 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/login">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-4"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
